{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Movie_Info</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th>Movie</th>
          <th>Director</th>
          <th>IMDB Rating</th>
          <th>Reviews</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for movie in movies %}
          <tr>
            <td>
              {{ movie.name }}<br>
              <small class="text-muted d-block">{{ movie.genre }}</small>
            </td>
            <td class="align-middle">{{movie.director}}</td>
            <td class="align-middle">{{movie.imdb_score}}</td>
            <td class="align-middle">0</td>
            <td class="align-middle"></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
