{% extends 'base.html' %}

  {% block breadcrumb %}
  <li class="breadcrumb-item active">Movies</li>
  {% endblock %}


  {% block content %}
      <form method='GET', action = ''>
        <input = 'Text' name = 'q' size="50" placeholder="Search Movies, Director, Genre..."/>
        <input type = 'submit' value = 'Search' />
      </form>
      <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th>Movie</th>
          <th>Director</th>
          <th>IMDB Rating</th>
          <th>99Popularity</th>
        </tr>
      </thead>
      <tbody>
        {% for movie in movies %}
          <tr>
            <td>
              <a href="{% url 'movie_info' movie.pk %}">{{ movie.name }}</a>
              <small class="text-muted d-block">{{ movie.genre }}</small>
            </td>
            <td class="align-middle">{{movie.director}}</td>
            <td class="align-middle">{{movie.imdb_score}}</td>
            <td class="align-middle">{{movie.popularity}}</td>
            <td class="align-middle"></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endblock %}
